<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/54b4c06cb9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
      <a class="navbar-brand">ロゴ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav ml-auto">
   
      <div class="col-lg-4" style="background-color: #EC715F;"><!--#EC715F -->
        <li>
          <%= link_to "Portfolio"  %>
        </li>
        <li>
          <%= link_to "Featu" %>
        </li>
        <li>
          <%= link_to "Profile" %>
        </li>
        <li>
          <%= link_to "Contact" %>
        </li>
      </div>
   </div> 
   </nav>
   </header>
    <%= yield %>
  </body>
</html>