<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/54b4c06cb9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" style="background-color: #EC715F;"><!--#EC715F -->
        
   
        
          <%= link_to "Portfolio"  %>
        
          <%= link_to "Featu" %>
       
          <%= link_to "Profile" %>
        
          <%= link_to "Contact" %>
        
      
    
      </div>
    </div>
  </div>
    <%= yield %>

  </header>
</html>
