<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/54b4c06cb9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


      <div class="col-lg-4" style="background-color: #EC715F;"><!--#EC715F -->
        <li>
          <%= link_to "Portfolio" %>
        </li>
        <li>
          <%= link_to "Featu" %>
        </li>
        <li>
          <%= link_to "Profile" %>
        </li>
        <li>
          <%= link_to "Contact" %>
        </li>
      </div>
    <%= yield %>

</html>