<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <li>
      <%= link_to "Portfolio" %>
    </li>
    <li>
      <%= link_to "Featu" %>
    </li>
    <li>
      <%= link_to "Profile" %>
    </li>
    <li>
      <%= link_to "Contact" %>
    </li>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
